@model BDTienda.Models.ViewModels.ProveedorNuevo
@{
    ViewBag.Title = "Editar Proveedor";
}

<h2>Editar Proveedor</h2>
@using (Html.BeginForm("Editar", "Proveedor", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(pr => pr.idProv)
            @Html.TextBoxFor(pr => pr.idProv, "", new { @class = "form-control", required = "", onkeypress = "return valideId(event);" })
            @Html.LabelFor(pr => pr.nombre)
            @Html.TextBoxFor(pr => pr.nombre, "", new { @class = "form-control", onkeypress = "return valideLetras(event);" })
            @Html.LabelFor(pr => pr.direccion)
            @Html.TextBoxFor(pr => pr.direccion, "", new { @class = "form-control", onkeypress = "return valideLetras(event);" })

            <div style="text-align:right">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function valideId(evt) {
        var code = (evt.which) ? evt.which : evt.keyCode;
        if (code == 8) { // backspace.
            return true;
        } else if (code >= 48 && code <= 57) { // is a number.
            return true;
        }  else { // other keys.
            return false;
        }
    }

    function valideLetras(evt) {
        var code = (evt.which) ? evt.which : evt.keyCode;
        if (code >= 65 && code <= 90) { // backspace.
            return true;
        } else if (code >= 97 && code <= 122) { // is a number.
            return true;
        } else { // other keys.
            return false;
        }
    }
</script>


