@model BDTienda.Models.ViewModels.ProductoNuevo
@{
    ViewBag.Title = "Nuevo Producto";
}

<h2>Nuevo Producto</h2>
@using (Html.BeginForm("Nuevo", "Producto", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.ValidationSummary()
            @Html.LabelFor(p => p.idProducto)
            @Html.TextBoxFor(p => p.idProducto, "", new { @class = "form-control", required = "", onkeypress = "return valideKey(event);" })
            @Html.LabelFor(p => p.idProv)
            @Html.TextBoxFor(p => p.idProv, "", new { @class = "form-control", required = "", onkeypress = "return valideKey(event);" })
            @Html.LabelFor(p => p.nombre)
            @Html.TextBoxFor(p => p.nombre, "", new { @class = "form-control", required = "", onkeypress = "return valideLetras(event);" })
            @Html.LabelFor(p => p.precio)
            @Html.TextBoxFor(p => p.precio, new { @class = "form-control", required = "", onkeypress = "return valideKey(event);" })


            <div style="text-align:right">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function valideKey(evt) {
        var code = (evt.which) ? evt.which : evt.keyCode;
        if (code == 8) { // backspace.
            return true;
        } else if (code >= 48 && code <= 57) { // is a number.
            return true;
        } else if (code == 44){
            return true;
        }else { // other keys.
            return false;
        }
    }

    function valideId(evt) {
        var code = (evt.which) ? evt.which : evt.keyCode;
        if (code == 8) { // backspace.
            return true;
        } else if (code >= 48 && code <= 57) { // is a number.
            return true;
        }  else { // other keys.
            return false;
        }
    }

    function valideLetras(evt) {
        var code = (evt.which) ? evt.which : evt.keyCode;
        if (code >= 65 && code <= 90) { // backspace.
            return true;
        } else if (code >= 97 && code <= 122) { // is a number.
            return true;
        } else { // other keys.
            return false;
        }
    }
</script>

